h3
{
    color: #3aa8b6;
}

h4
{
    color: #3aa8b6;
}

.tab-content table.dataTable
{
    width: 99.5%;
}

.brand img
{
    /* let the transparent bits of the logo overflow */
    margin-top: -15px;
    margin-bottom: -15px;
    height: 50px;
}

a
{
    color: #2e848f;
}

.navbar .nav > li > a {
    color: #fff;
    text-shadow: 0 1px 0 #555;
}

.navbar .nav > li > a:hover {
    color: #fff;
    /*background-color: #1e7580;*/
    background-image: linear-gradient(to bottom, #2796a5, #1d717c);
}

.navbar .nav > .active > a
{
    color: #efefef;
    /*background-color: #e66014;*/
    background-image: linear-gradient(to bottom, #d35912, #eb6314);
}

.navbar .nav > .active > a:hover
{
    color: #efefef;
    /*background-color: #e66014;*/
    background-image: linear-gradient(to bottom, #a4450e, #d35912);
}

div.navbar-inner {
    background-color: #47a6b2;
    background-image: linear-gradient(to bottom, #59bdca, #2e848f);
}

p.colab
{
    font-size: 32pt;
    color: gray;
    font-weight: bold;
}

pre.citation
{
    display: inline-block;
}

#home-dfg-logo
{
    height: 18pt;
}
#home-eva-logo
{
    height: 58pt;
}
#home-valency-logo
{
    height: 64pt;
}
#home-valpal-logo
{
    height: 72pt;
}

.language-details th
{
    text-align: left;
    padding-right: 1ex;
}

.well hr
{
    border-top: 1px solid #e3e3e3;
}

p.toplink
{
    text-align: right;
    margin: 0;
}
#database-page
{
    width: 120ex;
}
#database-toc
{
    float: right;
    width: 35ex;
}
#database-intro
{
    width: 70ex;
}
#database-contribs
{
    list-style-type: lower-roman;
}
div.database-infobox
{
    width: 70ex;
}
ol.datatable-ex
{
    list-style-type: lower-alpha;
}
#database-alternations td
{
    padding-right: 1ex;
}
#verb-infobox
{
    float: right;
    width: 40ex;
}

table.example-list td
{
    vertical-align: baseline;
}
table.example-list td:first-child
{
    text-align: right;
    padding-left: 1ex;
    padding-right: 1ex;
}

.link-to-self a {
    padding: .5ex;
    border-style: solid;
    border-width: 1px;
    border-radius: .5ex;
    color: #efefef;
    text-shadow: 0 1px 0 #555;
    background-image: linear-gradient(to bottom, #59bdca, #2e848f);
}

.link-to-self a:hover {
    color: #fff;
    background-image: linear-gradient(to bottom, #2796a5, #1d717c);
}

span.altval-codingframe-arrow {
    padding: 1ex;
    color: gray;
    font-size: 150%;
    font-weight: bold;
}
