.tab-content table.dataTable
{
    width: 99.5%;
}

.brand img
{
    /* let the transparent bits of the logo overflow */
    margin-top: -15px;
    margin-bottom: -15px;
    height: 50px;
}

p.colab
{
    font-size: 32pt;
    color: gray;
    font-weight: bold;
}

pre.citation
{
    display: inline-block;
    width: auto;
}

#home-dfg-logo
{
    height: 18pt;
}
#home-eva-logo
{
    height: 58pt;
}
#home-valency-logo
{
    height: 64pt;
}
#home-valpal-logo
{
    height: 72pt;
}
